!!! 5
html(lang='en')
  head
    title Bryan M
    // iPhone app support
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel="apple-touch-icon", href="public/images/apple-touch-icon.png")
    // Facebook sharing support
    - if (typeof post !== 'undefined')
      meta(property='og:title', content='#{ post.title }')
      meta(property='og:description', content='#{ post.content.split("\n")[2] }')
      meta(property='og:type', content='blog')
      meta(property='og:image', content='http://www.gravatar.com/avatar/9b85a734132395f7229cf3850d1adf42.png')
      meta(property='og:url', content='http://blog.bryanmaynard.com/read/#{ post.id }')
    // Google web fonts
    link(href='http://fonts.googleapis.com/css?family=Esteban|Alegreya+SC:400,700|Special+Elite', rel='stylesheet')
    // App stylesheet
    link(rel='stylesheet', href='#{ base }bm.css')

  body!= body
    #aioim
    //- nav#posts
    //-   a(href='/read/an-example-post') An Example post
    //-   a(href='/read/an-example-post') An Example post
    //-   a(href='/read/an-example-post') An Example post
    //-   a(href='/read/an-example-post') An Example post
    //-   a(href='/read/an-example-post') An Example post
    //-   a(href='/read/an-example-post') An Example post
    //- ul#share
    //-   a(href='/share-via/facebook') facebook
    //-   a(href='/share-via/twitter') twitter
    //-   a(href='/share-via/google+') google+
    script(src='#{ base }zepto.min.js')
    script(src='#{ base }showdown.js')
    script(src='#{ base }default.js')
    script(src='#{ base }#{ action }.js')
    // script(src='http://aioim.bryanmaynard.com/widget.js')
